---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bmlja3RlYWNoODg4QGdtYWlsLmNvbTp0b2RvYWJsZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"8ddffab0-bdc1-4b63-8122-1a985ccc0a4d","expires_at":"2019-03-08T18:10:19.944Z"}'
  recorded_at: Fri, 08 Mar 2019 17:50:20 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"lfnmbqiw"}}'
    headers:
      Authorization:
      - Token token=8ddffab0-bdc1-4b63-8122-1a985ccc0a4d
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/f692b9ab-522b-4c1f-8915-ce02cd9cc163
    body:
      encoding: UTF-8
      string: '{"name":"lfnmbqiw","src":"http://todoable.teachable.tech/api/lists/f692b9ab-522b-4c1f-8915-ce02cd9cc163","id":"f692b9ab-522b-4c1f-8915-ce02cd9cc163"}'
  recorded_at: Fri, 08 Mar 2019 17:50:20 GMT
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/f692b9ab-522b-4c1f-8915-ce02cd9cc163
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=8ddffab0-bdc1-4b63-8122-1a985ccc0a4d
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 08 Mar 2019 17:50:20 GMT
recorded_with: VCR 3.0.3
