---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bmlja3RlYWNoODg4QGdtYWlsLmNvbTp0b2RvYWJsZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"402b7df8-b6dc-4a7e-813e-894416215b71","expires_at":"2019-03-08T18:10:15.541Z"}'
  recorded_at: Fri, 08 Mar 2019 17:50:15 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"nwoszbux"}}'
    headers:
      Authorization:
      - Token token=402b7df8-b6dc-4a7e-813e-894416215b71
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/e98fd0ce-24c3-4d71-a77d-d3ec606f63ee
    body:
      encoding: UTF-8
      string: '{"name":"nwoszbux","src":"http://todoable.teachable.tech/api/lists/e98fd0ce-24c3-4d71-a77d-d3ec606f63ee","id":"e98fd0ce-24c3-4d71-a77d-d3ec606f63ee"}'
  recorded_at: Fri, 08 Mar 2019 17:50:15 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/e98fd0ce-24c3-4d71-a77d-d3ec606f63ee/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"Feed the cat"}}'
    headers:
      Authorization:
      - Token token=402b7df8-b6dc-4a7e-813e-894416215b71
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/e98fd0ce-24c3-4d71-a77d-d3ec606f63ee/items/9d66bbb0-f438-45f2-9f9a-3d6d9e259df0
    body:
      encoding: UTF-8
      string: '{"name":"Feed the cat","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/e98fd0ce-24c3-4d71-a77d-d3ec606f63ee/items/9d66bbb0-f438-45f2-9f9a-3d6d9e259df0","id":"9d66bbb0-f438-45f2-9f9a-3d6d9e259df0"}'
  recorded_at: Fri, 08 Mar 2019 17:50:15 GMT
- request:
    method: delete
    uri: http://todoable.teachable.tech/api/lists/e98fd0ce-24c3-4d71-a77d-d3ec606f63ee/items/9d66bbb0-f438-45f2-9f9a-3d6d9e259df0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=402b7df8-b6dc-4a7e-813e-894416215b71
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 08 Mar 2019 17:50:15 GMT
recorded_with: VCR 3.0.3
