---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bmlja3RlYWNoODg4QGdtYWlsLmNvbTp0b2RvYWJsZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"73277364-51c3-45e2-8e99-89c0817f119a","expires_at":"2019-03-08T18:10:14.442Z"}'
  recorded_at: Fri, 08 Mar 2019 17:50:14 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"ikyzjebl"}}'
    headers:
      Authorization:
      - Token token=73277364-51c3-45e2-8e99-89c0817f119a
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/fea9227c-101e-4ea8-9c66-0824f67d0573
    body:
      encoding: UTF-8
      string: '{"name":"ikyzjebl","src":"http://todoable.teachable.tech/api/lists/fea9227c-101e-4ea8-9c66-0824f67d0573","id":"fea9227c-101e-4ea8-9c66-0824f67d0573"}'
  recorded_at: Fri, 08 Mar 2019 17:50:14 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/fea9227c-101e-4ea8-9c66-0824f67d0573/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"Feed the cat"}}'
    headers:
      Authorization:
      - Token token=73277364-51c3-45e2-8e99-89c0817f119a
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/fea9227c-101e-4ea8-9c66-0824f67d0573/items/65e8fc03-0054-40cd-ad39-866b3d7c5d70
    body:
      encoding: UTF-8
      string: '{"name":"Feed the cat","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/fea9227c-101e-4ea8-9c66-0824f67d0573/items/65e8fc03-0054-40cd-ad39-866b3d7c5d70","id":"65e8fc03-0054-40cd-ad39-866b3d7c5d70"}'
  recorded_at: Fri, 08 Mar 2019 17:50:14 GMT
- request:
    method: put
    uri: http://todoable.teachable.tech/api/lists/fea9227c-101e-4ea8-9c66-0824f67d0573/items/65e8fc03-0054-40cd-ad39-866b3d7c5d70/finish
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Token token=73277364-51c3-45e2-8e99-89c0817f119a
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: Feed the cat finished
  recorded_at: Fri, 08 Mar 2019 17:50:14 GMT
recorded_with: VCR 3.0.3
