---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bmlja3RlYWNoODg4QGdtYWlsLmNvbTp0b2RvYWJsZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"eeaf6473-fc70-4cd8-bb38-6051d01bb223","expires_at":"2019-03-08T18:10:19.047Z"}'
  recorded_at: Fri, 08 Mar 2019 17:50:19 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"rtgqjcxz"}}'
    headers:
      Authorization:
      - Token token=eeaf6473-fc70-4cd8-bb38-6051d01bb223
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/c8289414-7717-40ab-ab27-8fc9f50d4a39
    body:
      encoding: UTF-8
      string: '{"name":"rtgqjcxz","src":"http://todoable.teachable.tech/api/lists/c8289414-7717-40ab-ab27-8fc9f50d4a39","id":"c8289414-7717-40ab-ab27-8fc9f50d4a39"}'
  recorded_at: Fri, 08 Mar 2019 17:50:19 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists/c8289414-7717-40ab-ab27-8fc9f50d4a39
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=eeaf6473-fc70-4cd8-bb38-6051d01bb223
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"rtgqjcxz","items":[]}'
  recorded_at: Fri, 08 Mar 2019 17:50:19 GMT
recorded_with: VCR 3.0.3
