---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bmlja3RlYWNoODg4QGdtYWlsLmNvbTp0b2RvYWJsZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"0c3de27d-fcc1-4616-97ad-d0aa260993fb","expires_at":"2019-03-08T18:10:16.541Z"}'
  recorded_at: Fri, 08 Mar 2019 17:50:16 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=0c3de27d-fcc1-4616-97ad-d0aa260993fb
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lists":[{"name":"zyvrtgqw","src":"http://todoable.teachable.tech/api/lists/60f116b5-ce90-41d6-b0d9-581843fa9934","id":"60f116b5-ce90-41d6-b0d9-581843fa9934"},{"name":"uyenxchm","src":"http://todoable.teachable.tech/api/lists/9c75dfbc-e83c-444f-9674-a736ef96bca6","id":"9c75dfbc-e83c-444f-9674-a736ef96bca6"},{"name":"qpyrjmit","src":"http://todoable.teachable.tech/api/lists/43d514ac-38f7-4b63-aebb-dce196d61b6e","id":"43d514ac-38f7-4b63-aebb-dce196d61b6e"},{"name":"omhkqebv","src":"http://todoable.teachable.tech/api/lists/8ff87be3-85a1-4f40-97d3-7137d2b0abd0","id":"8ff87be3-85a1-4f40-97d3-7137d2b0abd0"},{"name":"f[...]
