---
http_interactions:
- request:
    method: patch
    uri: http://todoable.teachable.tech/api/lists/851cd6bd-9238-4dca-92c0-51d72fcda14f
    body:
      encoding: UTF-8
      string: '{"list":{"name":"cmgdrzfk"}}'
    headers:
      Authorization:
      - Token token=601b0b1c-2bc7-431b-bda6-af36000e6172
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: cmgdrzfk updated
  recorded_at: Fri, 08 Mar 2019 17:50:21 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists/851cd6bd-9238-4dca-92c0-51d72fcda14f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=601b0b1c-2bc7-431b-bda6-af36000e6172
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"cmgdrzfk","items":[]}'
  recorded_at: Fri, 08 Mar 2019 17:50:21 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bmlja3RlYWNoODg4QGdtYWlsLmNvbTp0b2RvYWJsZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"9a95633a-4b9f-4183-be94-10fb10d7ee3d","expires_at":"2019-03-08T18:13:23.945Z"}'
  recorded_at: Fri, 08 Mar 2019 17:53:23 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"euhdfpln"}}'
    headers:
      Authorization:
      - Token token=9a95633a-4b9f-4183-be94-10fb10d7ee3d
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/9784fad0-400f-4740-a250-56dd2630f3ff
    body:
      encoding: UTF-8
      string: '{"name":"euhdfpln","src":"http://todoable.teachable.tech/api/lists/9784fad0-400f-4740-a250-56dd2630f3ff","id":"9784fad0-400f-4740-a250-56dd2630f3ff"}'
  recorded_at: Fri, 08 Mar 2019 17:53:24 GMT
[...]
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists/9784fad0-400f-4740-a250-56dd2630f3ff
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=9a95633a-4b9f-4183-be94-10fb10d7ee3d
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"hgufnbke","items":[]}'
  recorded_at: Fri, 08 Mar 2019 17:53:24 GMT
recorded_with: VCR 3.0.3
