---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bmlja3RlYWNoODg4QGdtYWlsLmNvbTp0b2RvYWJsZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"e58b5ed9-4235-4b4e-9bef-c204fd6b5a94","expires_at":"2019-03-08T18:10:13.245Z"}'
  recorded_at: Fri, 08 Mar 2019 17:50:13 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"vynegbar"}}'
    headers:
      Authorization:
      - Token token=e58b5ed9-4235-4b4e-9bef-c204fd6b5a94
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/871942dc-40af-476b-a01c-690ff5b582c6
    body:
      encoding: UTF-8
      string: '{"name":"vynegbar","src":"http://todoable.teachable.tech/api/lists/871942dc-40af-476b-a01c-690ff5b582c6","id":"871942dc-40af-476b-a01c-690ff5b582c6"}'
  recorded_at: Fri, 08 Mar 2019 17:50:13 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/871942dc-40af-476b-a01c-690ff5b582c6/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"Feed the cat"}}'
    headers:
      Authorization:
      - Token token=e58b5ed9-4235-4b4e-9bef-c204fd6b5a94
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/871942dc-40af-476b-a01c-690ff5b582c6/items/fa19b9cf-3164-4d76-9726-4940781edd12
    body:
      encoding: UTF-8
      string: '{"name":"Feed the cat","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/871942dc-40af-476b-a01c-690ff5b582c6/items/fa19b9cf-3164-4d76-9726-4940781edd12","id":"fa19b9cf-3164-4d76-9726-4940781edd12"}'
  recorded_at: Fri, 08 Mar 2019 17:50:13 GMT
recorded_with: VCR 3.0.3
