---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bmlja3RlYWNoODg4QGdtYWlsLmNvbTp0b2RvYWJsZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"9442af71-7aa5-4137-9906-25af62a72b0d","expires_at":"2019-03-08T18:10:17.442Z"}'
  recorded_at: Fri, 08 Mar 2019 17:50:17 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"haqcmdkb"}}'
    headers:
      Authorization:
      - Token token=9442af71-7aa5-4137-9906-25af62a72b0d
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/adc77ab5-6c51-45d9-a9cd-e400648e98e1
    body:
      encoding: UTF-8
      string: '{"name":"haqcmdkb","src":"http://todoable.teachable.tech/api/lists/adc77ab5-6c51-45d9-a9cd-e400648e98e1","id":"adc77ab5-6c51-45d9-a9cd-e400648e98e1"}'
  recorded_at: Fri, 08 Mar 2019 17:50:17 GMT
recorded_with: VCR 3.0.3
