---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bmlja3RlYWNoODg4QGdtYWlsLmNvbTp0b2RvYWJsZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"503676f3-5fe7-4882-b7e1-de879dee7332","expires_at":"2019-03-08T18:10:18.243Z"}'
  recorded_at: Fri, 08 Mar 2019 17:50:18 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"nobazimr","items":[{"name":"Get er done"}]}}'
    headers:
      Authorization:
      - Token token=503676f3-5fe7-4882-b7e1-de879dee7332
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Error-Digest:
      - 6198f23cc0b320faf781fe2beb6f453d83436901fda76a2a8d10985d1978bcd6
    body:
      encoding: UTF-8
      string: "<h1>Internal Server Error</h1>"
  recorded_at: Fri, 08 Mar 2019 17:50:18 GMT
recorded_with: VCR 3.0.3
